<form class="mt-4 container-form" method="POST" action="/courses/handle-form-action">
    <a href="/me/stored/courses" class="">Danh sách khóa học</a>
    <h2 class="mb-4">Thùng rác</h2>

    <div class="mb-4 d-flex align-items-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkboxAll">
        <label class="form-check-label" for="checkboxAll">
          Chọn tất cả
        </label>
      </div>

      <select class="custom-select" style="width: 120px; margin: 0 16px" name="action" required>
        <option selected value="">Chọn</option>
        <option value="restoreAll">Khôi phục</option>
      </select>

      <button class="btn btn-primary btn-sm btn-check-all-btn disabled">Thực hiện</button>
    </div>

    <table class="table">
    <thead>
        <tr>
            <th scope="col" colspan="2">STT</th>
            <th scope="col">Tên khóa học {{{sortable 'name' _sort}}}</th>
            <th scope="col">Mô tả</th>
            <th scope="col">Trình độ {{{sortable 'level' _sort}}}</th>
            <th scope="col">Ngày xóa {{{sortable 'deletedAt' _sort}}}</th>
            <th scope="col" colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        {{#each courses}}
        <tr>
        <td> 
          <div class="form-check">
            <input class="form-check-input" name="courseIds[]"  type="checkbox" value="{{this._id}}">
          </div>
        </td>
        <th scope="row">{{sum @index 1  }}</th>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td>{{this.level}}</td>
        <td>{{this.deletedAt}}</td>
        <td><a href="" class="btn btn-warning btn-restore" data-id="{{this._id}}">Khôi phục</a></td>
        <td><a href="" class="btn btn-danger" data-toggle="modal" data-target="#modal-delete-course" data-id="{{this._id}}">Xóa vĩnh viễn</a></td>
        </tr>
        {{/each}}
    </tbody>
    </table>
</form>

<form method='POST' name = 'delete-form-hide'></form>
<form method='POST' name = 'restore-form-hide'></form>

{{!-- Modal delete --}}

<div class="modal" id="modal-delete-course" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa vĩnh viễn khóa học?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn xóa vĩnh viễn khóa học không?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btn-delete-course">Xóa vĩnh viễn</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function(){
        var id
        var deleteForm = document.forms['delete-form-hide']
        var restoreForm = document.forms['restore-form-hide']
        var btn_delete_course = document.getElementById('btn-delete-course')
        var btnRestore = $('.btn-restore')
        var checkboxAll = $('#checkboxAll')
        var courseItemCheckbox = $('input[name="courseIds[]"]')
        var checkAllSutmitBtn = $('.btn-check-all-btn')
        var containerForm =document.forms['container-form']
        
        $('#modal-delete-course').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            id = button.data('id')
        })

        btn_delete_course.onclick = function(){
            deleteForm.action = '/courses/' + id + '/force?_method=DELETE'
            deleteForm.submit()
        }

        btnRestore.click(function(e){
            e.preventDefault()
            var courseId = $(this).data('id')
            console.log(courseId)
            restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH'
            restoreForm.submit()
        })

         //  Checkboxall changed
        checkboxAll.change(function(){
          courseItemCheckbox.prop('checked', $(this).prop('checked')) 
          renderCheckAllSubmitBtn()
        })

        //couresItemCheckbox changed
        courseItemCheckbox.change(function(){
          var isAllChecked = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length
          checkboxAll.prop('checked', isAllChecked)
          renderCheckAllSubmitBtn()
        })

        // Check all submit btn clicked
        checkAllSutmitBtn.click('submit', function(e){
          var isSubmitable = !$(this).hasClass('disabled')
          if(!isSubmitable){
            e.preventDefault()
          }
        })

        // Re-render check all submit btn
        function renderCheckAllSubmitBtn(){
          var checkedCount = $('input[name="courseIds[]"]:checked').length
          if(checkedCount > 0){
            checkAllSutmitBtn.removeClass('disabled')
          }
          else{
            checkAllSutmitBtn.addClass('disabled')
          }
        }
    })
</script>