<div class="mt-4 mb-4">
<div class="container" style="height: 100vh;">
    <div class="row">
        {{#each courses}}
        <div class="col-sm-6 col-lg-4">
            <div class="card card-home-image">
                <a href="/courses/{{this.slug}}" class="">
                    <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
                </a>
            <div class="card-body">
                <a href="/courses/{{this.slug}}" class="">
                    <h5 class="card-title">{{this.name}}</h5>
                </a>
                <p style="  height: 50px;
                            width:100%; 
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;" 
                    class="card-text">{{this.description}}
                </p>
                <a href="/courses/{{this.slug}}" class="btn btn-primary">Xem ngay</a>
            </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
</div>